.slider-container {
    background: rgb(0, 0,0);
    padding-top: 5rem;
    padding-bottom: 6rem;
    position: relative;
    height: 100vh; 
}

.position {
    position: relative ;
    margin-top: -5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider{
    background-image: url(../src/src/logos.png);
    background-size: cover;
    height: 500px;
    width: 50%;
    border-radius: 10px;
    transition: 100ms;
    animation: animate 20s infinite ease;
}

@keyframes animate{
    20%{
        background-image: url(../src/src/pexels-garvin-st-villier-5270090.jpg);
        background-size: cover;
       
    }
    40%{
        background-image: url(../src/src/ford.jpg);
        background-size: cover;
    }
    60%{
        background-image: url(../src/src/fiat-pulse-2022.jpg);
        background-size: cover;
    }
    80%{
        background-image: url(../src/src/Volkswagen-ID.-GTI-Concept-1.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../src/src/auto.jpg);
        background-size: cover;
    }
}


/* Responsividad */
@media screen and (max-width: 768px) {
   

 
    .slider-container {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

  
    .slider {
        width: 100%;
        height: 300px;
    }
}